# Excluir carpetas de entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos compilados de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

#Carpetas de distribución y empaquetamiento
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

